body {
  background-color: #EAEBE7;
}

.card-container{
  height: 420px;
  position: relative;
  background-color: white;
  overflow: hidden;
  z-index: 20;
  box-shadow: 2px 2px 2px #B3B3B3;
  margin: 20px;
}

.pricebox {
  height: 50px;
  width: 100px;
  position: absolute;
  background-color: #FF5351;
  display: table;
}
.price {
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-family: Oswald;
  font-size: 20px;
  text-align: center;
}

.buybox {
  height: 50px;
  width: 100%;
  position: absolute;
  background-color: #008cba;
  display: table;
  bottom: 0;
}

.add-to-cart {
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-family: Oswald;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

.card {
  display: table;
  height: 100%;
  width: 100%;
}

.product-overlay {
  height: 100%;
  width: 100%;
  z-index: 10;
  position: absolute;
}

.card-inner {
  display: table-cell;
  vertical-align: middle;
}


.proimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 90%;
  max-width: 90%; 
}

.page-header h1 {
  text-align: center;
  font-family: Oswald;
  margin-top: 70px;
}

.shopping-cart {
  position: fixed;
  top: 55px;
  right: 40px;
  display: none;
  background-color: #fff;
  box-shadow: 2px 2px 2px #B3B3B3;
  padding: 15px;
  z-index: 999;
}

.cart-title {
  text-align: center;
  font-weight: bold;
}

.show {
  display: block;
}

.clear-cart {
  width: 100%;
}
.add_new_product{
  margin-top: 7px;}
  .modal-body-product{
    text-align: center;
  }
  .modal-body-product input {
    margin: 10px;
    width: 70%;
    margin-left: 100px;
    padding: 18px;
  }
  input:invalid {
    border: 2px solid red;
  }
  
  input:valid {
    border: 2px solid black;
  }
  .modal-header{
    text-align: center;
   font-weight: bold;
   color:blue;
   text-shadow:2px 2px 8px  black 
  }